[gcode_macro PRINT_END]
gcode:
    # 1. Prepare for safe move
    G91 ; Set to relative positioning
    
    # 2. Retract filament (Warning: 35mm is a very long distance!)
    G1 E-35 F2400 ; Retract filament to prevent oozing/clogs
    
    # 3. Move nozzle away from the print
    G0 Z10 F3000 ; Move Up 10mm
    G0 Z40 F3000 ; Move Up another 40mm (Total 50mm clearance)
    
    # 4. Park the bed and toolhead
    G90 ; Set to absolute positioning
    G0 X0 Y300 F7500 ; Present the bed by moving it to the front (Y300)
    
    # 5. Turn off all systems
    TURN_OFF_HEATERS ; Turn off nozzle and bed heaters
    M84 ; Disable all stepper motors
    M106 S0 ; Turn off part cooling fan
    
    # 6. Set status LED to Blue
    SET_LED LED=extruder RED=0.078 GREEN=0.568 BLUE=1